body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.green_bg {
  background-color: #2ec364;
  width: 100%;
  height: 60%;
}

.black_bg {
  background-color: black;
  width: 100%;
  height: 40%;
}

.title_logo {
  width: 100%;
  height: 10%;
  padding-left: 10px;
  padding-top: 10px;
  box-sizing: border-box;
}

.logo_img {
  width: 20%;
}
.selectPageContent {
  width: 100%;
  height: 90%;
}
.selectPage_Text {
  width: 80%;
  height: 100%;
  margin: auto;
}

.dynamicDiv {
  height: 60%;
}

.white_title {
  color: white;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
}

.fadeIn {
  animation: fadeInRight 0.5s;
  position: relative;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.contentDiv {
  height: 20%;
}

.white_border {
  border: 1px solid white;
  border-radius: 50px;
  text-align: center;
  padding: 0 10px;

  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

#curMoodBtn,
#nxtMoodBtn {
  border: none;
  border-radius: 50px;
  background-color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 5px 10px;
  width: 300px;
  height: 50px;
  animation-fill-mode: backwards;
}

#curMoodBtn {
  animation-delay: 1s;
}

.arrowIcon {
  height: 30px;
  vertical-align: middle;

  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

#nxtMoodBtn {
  animation-delay: 2s;
}

.selectEmoji_img {
  height: 30px;
  vertical-align: middle;
  animation: fadeIn 1s;
  animation-fill-mode: backwards;
  animation-delay: 3s;
}

.selectEmoji_title {
  animation: fadeIn 1s;
  animation-fill-mode: backwards;
  animation-delay: 3s;
}

.emoji_table {
  width: 80%;
  height: 100%;
  margin: auto;
  table-layout: fixed;
  text-align: center;
}

.emoji_tag {
  background-color: rgba(255, 255, 255, 30%);
  width: 95%;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  pointer-events: none;
  font-weight: bold;
}

.img1,
.img2,
.img3 {
  display: inline-block;
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(1deg);
  }
  20% {
    transform: rotate(2deg);
  }
  30% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes vertical-shaking {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    transform: translateY(1px);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(3px);
  }
  40% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(4px);
  }
  70% {
    transform: translateY(3px);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.big_icon > img {
  width: 80%;
}

.small_icon > img {
  width: 40%;
}

#currMoodText {
  display: inline-block;
  margin: 0;
}

#currMoodImg {
  width: 30px;
  height: 30px;
  display: none;
}

#nextMoodText {
  display: inline-block;
  margin: 0;
}

#nextMoodImg {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: none;
}

.guide {
  font-size: 13px;
}

.white {
  color: white;
}

#playListBtn {
  display: block;
  width: 170px;
  height: 50px;
  margin: 0 auto;
  border: none;
  border-radius: 50px;
  background-color: #323232;
}

.playListChild {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.playListText {
  font-weight: bold;
  font-size: 15px;
}

.playListImg {
  margin-left: 5px;
}

.selectedDiv,
.defaultDiv {
  width: 100%;
}

.selectedDiv {
  display: none;
}
