  /*BACKGROUND*/

  .green_bg {
    background-color: #2ec364;
    width: 100%;
    height: 60%;
  }
  
  .black_bg {
    background-color: black;
    width: 100%;
    height: 40%;
  }

  .orange_bg {
    background-color: #ee4f0b;
  }

  
  
  .title_logo {
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
  }
  
  .logo_img {
    width: 20%;
  }
  
  .selectPage_Text {
    width: 80%;
    margin: auto;
  }
  
  .white_title {
    color: white;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
  }
  .white_border {
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
    padding: 0 10px;
  }
  
  #curMoodBtn,
  #nxtMoodBtn {
    border: none;
    border-radius: 50px;
    background-color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 5px 10px;
  }

  #whiteBtn {
    border: none;
    border-radius: 50px;
    background-color: white;
    font-weight: bold;
    font-size: 100%;
    padding: 5px 10px;
  }

  #blackBtn {
    border: none;
    border-radius: 50px;
    background-color: black;
    font-weight: bold;
    font-size: 100%;
    padding: 5px 10px;
  }
  
  .arrowIcon {
    height: 30px;
    vertical-align: middle;
  }
  
  .selectEmoji_img {
    height: 30px;
    vertical-align: middle;
  }
  
  .selectEmoji_title {
    margin-top: 10%;
  }
  
  .emoji_table {
    width: 80%;
    height: 100%;
    margin: auto;
    table-layout: fixed;
    text-align: center;
  }
  
  .emoji_tag {
    background-color: rgba(255, 255, 255, 30%);
    width: 95%;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    pointer-events: none;
    font-weight: bold;
  }
  
  .img1,
  .img2,
  .img3 {
    display: inline-block;
  }
  
  .big_icon > img {
    width: 80%;
  }
  
  .small_icon > img {
    width: 40%;
  }